<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greatdayhr.videorecruitment">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>

        <activity
            android:name="com.greatdayhr.videorecruitment.VideoPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>

        <activity
            android:name="com.greatdayhr.videorecruitment.RecruitmentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
    </application>

</manifest>